body{
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 20px;
	text-align: center;
}

h1{
	color: #333;
}

nav{
	margin-bottom: 20px;
}

nav a {
	text-decoration: none;
	color: #FF00FF
	margin-right: 15px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 6px;
}

nav a:hover {
	background-color: #0077cc;
	color: white;
}